* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
}

.header-flex {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-right {
  display: flex;
}

.header-nav ul,
.header_soc ul {
  display: flex;
  align-items: center;
}

.header-nav ul li a {
  font-size: 12px;
  line-height: 14px;
  color: #e5e5e5;
}

.header-nav ul li {
  margin-right: 25px;
}

.header-nav ul li:last-child,
.header_soc ul li:last-child {
  margin-right: 0px;
}

.header_soc ul li {
  margin-right: 18px;
}

.header_soc {
  padding: 0px 17px;
  margin: 0px 17px;
  border-left: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  width: 530px;
  left: 70px;
  bottom: 140px;
}
.tag {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;

  font-family: "robota", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.banner_h1 {
  margin: 15px 0px;
  font-size: 36px;
  color: #ffffff;
}
.middle-line {
  height: 1px;
  width: 30px;
  background: #e5e5e5;
  margin: 0px 11px;
}
