* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
}

.header-flex {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-right {
  display: flex;
}

.header-nav ul,
.header_soc ul {
  display: flex;
  align-items: center;
}

.header-nav ul li a {
  font-size: 12px;
  line-height: 14px;
  color: #e5e5e5;
}

.header-nav ul li {
  margin-right: 25px;
}

.header-nav ul li:last-child,
.header_soc ul li:last-child {
  margin-right: 0px;
}

.header_soc ul li {
  margin-right: 18px;
}

.header_soc {
  padding: 0px 17px;
  margin: 0px 17px;
  border-left: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  left: 70px;
  bottom: 140px;
  max-width: 530px;
  width: 100%;
}
.tag {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;

  font-family: "robota", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.banner_h1 {
  margin: 15px 0px;
  color: #ffffff;
  max-height: 92px;
  max-width: 530px;
  font-size: 18px;
}

.middle-line {
  height: 1px;
  width: 30px;
  background: #e5e5e5;
  margin: 7px 11px 0px 11px;
}

.banner-info {
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  color: #e5e5e5;
}

.pop-top {
  margin: 150px auto;
  width: 1300px;
}

.pop-top_h2 {
  color: #495057;
  font-size: 36px;
  line-height: 46px;
}

.pop-top_nav ul {
  display: flex;
  margin: 30px 0px;
}

.pop-top_nav ul li {
  margin-right: 20px;
}

.pop-top_nav ul li:last-child {
  margin-left: auto;
  margin-right: 0px;
}

.pop-top_nav ul li a {
  color: #495057;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
}

.pop-top_nav ul li a:hover {
  color: #d4a373;
  transition: all 0.5s;
}

.pop-top_blog {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}

.pop-top_card {
  width: 310px;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pop-top_card ul {
  position: absolute;
  display: flex;
  align-self: flex-end;
  top: 20px;
  right: 20px;
}

.pop-top_card ul li {
  margin-left: 10px;;
}

.pop-top_card__img {
  height: 280px;
  width: 100%;
  margin-bottom: 15px;
}
.pop-top_card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.pop-top_card h3 {
  margin: 15px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}

.pop-top_card p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #6c757d;
}
